*{margin:0; padding: 0; border: 0;}

		.wrap{
			width: 100%;
	
		}

		.clearfix:before,
		.clearfix:after {
					    content: "";
					    display: block;
					    clear: both;
					    visibility: hidden;
					    line-height: 0;
					    height: 0;
					    font-size:0;
}

		.clearfix { *zoom:1;}

		.top-bg{
			width: 100%;
			background-image: url('../images/top-bg_02.jpg');

		}
		
		.top{
			width: 1440px;
			margin:0 auto;
		}

		.logo{
			width: 277px;
			padding-top: 91px;
			background-image: url('../images/logo.jpg');
			display: block;
			margin-left: 230px;
			float: left;
			
		}

		nav li{
			width: 110px;
			border-right: 1px solid #fff;
			float: left;
			list-style: none;
			text-align: center;
		}

		nav a{
			text-decoration: none;
			color: #353535;
			line-height: 91px;

		}

		nav a:hover{
			color: #d21436;
		}

		.banner{
			width: 1440px;
			margin:0 auto;
			position: relative;
			
		}

		section{
			width: 1004px;
			margin:0 auto;
		}

		.main-top{
			width: 1110px;
			position: absolute;
			top: 600px;
		}

		.about-us{
			width: 357px;
			background-color: #f2f2f2;
			float: left;
		}

		.main-top .one img{
			float: left;
			
		}

		h2{
			font-size: 22px;
			color: #353535;
			font-weight: normal;
			display: block;
			margin-bottom: 20px;
		}

		.main-top h2{
			margin-top: 20px;
		}

		.main-top h2 span{
			display: block;
		}

		.about-us h2 span{
			font-size: 20px;
			color: #c30b2d;
		}

		.about-us h2{
			margin-left: 20px;
		}

		.about-us p{
			font-size: 14px;
			color: #444;
			text-indent: 24px;
			margin:30px 26px 30px 25px;
		}

		.store{
			width: 318px;
			float: left;
			background-repeat: no-repeat;
			background-image: url('../images/mdbg.jpg');
		}

		.store img:last-child{
			display: block;
		}

		.store p{
			color: #c30b2d;
			margin:10px 0 10px 0;
		}

		.store{
			padding-left: 20px;
		}

		.store span a{
			display: block;
			margin-top: 10px;
			color: #b0b0b0;
			text-decoration: none;
			margin-bottom: 40px;
		}

		.store h2 span{
			color: #c30b2d;
			font-size: 20px;
		}

		.main-left{
			width: 686px;
			padding-top: 156px;
		}

		.main-left .top{
			width: 680px;
			float: left;
			margin-bottom: 20px;
		}

		.main-left img{
			float: left;
			margin-right: 16px;
		}

		.main-left span{
			color: #828282;
			font-size: 14px;
			display: block;
			text-indent: 28px;
			margin-top: 11px;
		}

		.main-left h3{
			font-size: 14px;
			color: #171616;
		}

		.main-left h3 a{
			text-decoration: none;
			color: black;
		}



		aside{
			width: 319px;
			float: left;
			margin-top: -208px;
			margin-left: 628px;
		}

		aside a{
			color: #575757;
			font-family: '宋体';
			font-size: 12px;
			text-decoration: none;
			line-height: 27px;
		}

		aside li{
			list-style: none;
		}

		aside li span{
		 	color: rgb(87, 87, 87);
		}

		aside .Urgent{
			color: #c30b2d;
		}

		

		aside li .one{
			color:  #575757;
		}

		aside .time2{
			font-family: '宋体';
			font-size: 12px;
			color: gray;
			margin-left: 50px;
		}

		

		.footer-up{
			width: 100%;
			border-top: 1px solid #e5e5e5;
			margin-top: 58px;

		}

		.footer-top{
			width: 1442px;
			margin:0 auto;
	
		}

		.footer-top a{
			text-decoration: none;
			color: #7e7e7e;
			font-size: 14px;
			line-height: 20px;
		}

		.footer-top a:hover{
			color: #cd0f31;
		}

		.footer-top li{
			list-style: none;
		}

		.footer-up h4{
			font-weight: normal;
			line-height: 54px;
			padding-top: 6px;
		}

		.footer-top div{
			width: 130px;
			float: left;
			margin-right: 40px;
			border-right: 1px solid #e5e5e5;
		}

		.footer-top div:first-child{
			margin-left: 200px;
		}

		.footer-top div:last-child{
			border-right: none;
		}

		.footer-down-bg{
			width: 100%;
			background-color: #2d2d2d;
			margin-top: 166px;
			padding-top: 19px;
			padding-bottom: 19px;
		}

		.footer-down{
			width: 1004px;
			margin:0 auto;
			
		}

		.footer-down .tel{
			color: #bfbfbf;
			font-size: 14px;
			background-image: url('../images/tel_13.jpg');
			background-repeat: no-repeat;
			background-position-y: 6px;
			text-indent: 18px;
		}

		.footer-down .tel span{
			color: #d6d6d6;
			font-size: 20px;
			font-family: 汉仪大黑简；
		}

		.footer-down .copyright{
			color: #bfbfbf;
			font-size: 14px;
		}

		.share{
			float: right;
			margin-top: -54px;
		}

		.share img{
			margin:0 15px;
		}

		.share p{
			color: #cb1a27;
			font-size: 12px;
			margin-left: 25px;
		}

		.share p span{
			margin-left: 46px;
		}